[Unit]
#Launch the hueGPIO middleware
Description= hueGPIO middleware

[Service]
User=root
Type=simple
PermissionsStartOnly=true
ExecStart=/home/pi/hueGPIO/start.sh
WorkingDirectory=/home/pi/hueGPIO/
Environment="FLASK_APP=hueGPIO.py"
StandardInput=tty-force
Restart=always
RuntimeDirectoryMode=755

[Install]
WantedBy=multi-user.target
