[Unit]
#Launch the hueGPIO middleware
Description= hueGPIO middleware

[Service]
User=root
Type=simple
ExecStart=/home/pi/hueGPIO/start.sh
StandardInput=tty-force
Restart=always

[Install]
WantedBy=default.target
